@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

:root {
  --color-primary-blue: hsl(220, 98%, 61%);
  --color-primary-background: linear-gradient hsl(192, 100%, 67%) to
    hsl(280, 87%, 65%);

  // lite theme colors
  --lite-primary-litegray: hsl(0, 0%, 98%);
  --lite-secondary-litegray: hsl(236, 33%, 92%);
  --lite-primary-grayblue: hsl(233, 11%, 84%);
  --lite-secondary-grayblue: hsl(236, 9%, 61%);
  --lite-tertiary-grayblue: hsl(235, 19%, 35%);

  // dark theme colors
  --dark-primary-blue: hsl(235, 21%, 11%);
  --dark-secondary-blue: hsl(235, 24%, 19%);
  --dark-primary-grayblue: hsl(234, 39%, 85%);
  --dark-secondary-grayblue: hsl(236, 33%, 92%);
  --dark-primary-dark-grayblue: hsl(234, 11%, 52%);
  --dark-secondary-dark-grayblue: hsl(233, 14%, 35%);
  --dark-tertiary-dark-grayblue: hsl(237, 14%, 26%);
}

html {
  height: 100vh;
  font-size: 62.5%;
}

body {
  height: 100%;
  line-height: 1.6;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1.6rem;
  cursor: pointer;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: unset;
  margin: unset;
  display: flex;
  align-items: center;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

#app {
  min-height: 100%;
  margin: 0 auto;
  font-weight: normal;
}
