.header {
  min-height: 350px;
  background-image: url("../images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60rem;

    h1 {
      color: var(--dark-secondary-grayblue);
      font-weight: 700;
      font-size: 4.2rem;
      letter-spacing: 2rem;
    }
  }

  &__inputWrapper {
    background-color: var(--dark-secondary-blue);
    width: inherit;
    width: 60rem;
    min-height: 70px;
    border-radius: 10px;
  }
}
